<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, rerum doloremque? 
                Temporibus natus eum unde ex facere aliquam inventore commodi quaerat ducimus omnis quos architecto,
                 accusamus enim fugiat, repudiandae expedita.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-solid fa-phone">Tel:(00) 99999-0000</i></li>
                <li><i class="fa-brands fa-whatsapp"></i>Whatsapp:(00) 99999-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>